[submodule "converscope"]
	path = converscope
	url = https://github.com/daylen/converscope
[submodule "transformers"]
	path = transformers
	url = https://github.com/huggingface/transformers
[submodule "gpt-2-simple"]
	path = gpt-2-simple
	url = https://github.com/minimaxir/gpt-2-simple
